.editor-content {
    /* min-height: 70vh; */
}

.editor {
    min-height: 70vh;
    /* background-color: red; */
    border-width: 1px;
}

.editor-title {
    margin: 0px;
    padding: 0px;
}

.editor-title p {
    margin: 0px;
    padding: 0px;
}

.editor-content content {}

.editor-content p {
    color: rgba(55, 53, 48, 1);
}